.fallback {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    height: 40rem;
    font-weight: 700;
    font-size: 2.2rem;
    color: #50E3C2;    
}